.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-12);
  flex-wrap: wrap;

  &__link {
    font-weight: var(--fontWeight-bold);
    font-family: var(--font-heading);
    text-decoration: none;
    font-size: var(--fontSize-2);

    &--active {
      color: var(--color-salmon);
    }
  }
}
