.site {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacing-12);
  }

  &__link {
    font-weight: var(--fontWeight-bold);
    font-family: var(--font-heading);
    text-decoration: none;
    font-size: var(--fontSize-2);

    &--active {
      color: salmon;
    }
  }
}

.footer {
  padding-top: var(--spacing-6);

  &__line {
    display: flex;
    justify-content: space-between;

    .right-align {
      align-items: right;
    }
  }

  &__line + &__line {
    padding-top: var(--spacing-6);
  }
}

$ds-secondary-color: #071a39;
$ds-secondary-color-50: #f5f8fb;
$ds-secondary-color-100: #dde8fb;
$ds-secondary-color-200: #5273a7;
$ds-secondary-color-300: #395179;
$ds-secondary-color-400: #0d2f66;
$ds-secondary-color-600: #051631;
$ds-secondary-color-700: #010b1b;

$btn-secondary-border: solid 1px $ds-secondary-color;
$btn-secondary-focus-border: solid 1px $ds-secondary-color-300;
$btn-secondary-disabled-border: solid 1px $ds-secondary-color-400;
$btn-secondary-active-color: $ds-secondary-color;

$btn-height: 40px;

/* Style the tab */
.category-picker {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  /* Style the buttons that are used to open the tab content */
  &__item {
    flex-basis: 70px;
    margin: 4px;
    font-size: 1rem;
    text-align: center;
    text-transform: lowercase;
    cursor: pointer;

    -webkit-tap-highlight-color: transparent;

    &:first-letter {
      text-transform: uppercase;
    }
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-radius: 10px;

    background-color: var(--color-white);
    border: $btn-secondary-border;

    &:hover {
      background-color: $ds-secondary-color-300;
      color: var(--color-white);
      border: $btn-secondary-focus-border;
    }

    &:focus {
      outline: none;
    }

    &:active {
      background-color: $ds-secondary-color;
      color: var(--color-white);
    }

    &--selected {
      background-color: $ds-secondary-color-300;
      color: var(--color-white);
      border: $btn-secondary-border;
    }
  }
}

table {
  border-collapse: collapse;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: var(--spacing-4) 0;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  table-layout: fixed;
  width: 100%;
  margin-bottom: var(--spacing-4);
}

table thead tr {
  background-color: var(--color-primary); //#009879;
  color: #ffffff;
  text-align: left;
}

th,
td {
  padding: var(--spacing-3) var(--spacing-4); // 12px 15px;
  text-align: center;
}

.d-mobile {
  display: none;
}

.d-desktop {
  display: inline;
}

@media (max-width: 36rem) {
  .d-desktop {
    display: none;
  }
  .d-mobile {
    display: inline;
  }
}

tbody tr {
  border-bottom: thin solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: var(--color-accent); // #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid var(--color-primary);
}

tbody tr:hover {
  font-weight: bold;
  color: #009879;
}

caption {
  caption-side: bottom;
  padding: var(--spacing-2);
  font-family: var(--font-heading);
  font-size: var(--fontSize-2);
}

progress {
  accent-color: var(--color-primary);
}

details {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

details > summary span.collapsible__icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
}

details[open] summary span.collapsible__icon {
  transform: translate(2px) rotate(90deg);
}

details summary span.collapsible__label {
  margin-left: 8px;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}

details[open] summary span.collapsible__label {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s 0.3s,
    opacity 0.3s linear;
}

summary {
  display: flex;
  cursor: pointer;
  font-family: var(--font-heading);
  font-size: var(--fontSize-2);
}

summary::-webkit-details-marker {
  display: none;
}
